@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outfit-Regular";
    src: url(../../public/fonts/Outfit-Regular.ttf) format("truetype");
  }

@font-face {
    font-family: "Inter-Regular";
    src: url(../../public/fonts/Inter_18pt-Regular.ttf) format("truetype");
  }

@font-face {
    font-family: "Roboto-Regular";
    src: url(../../public/fonts/Roboto_Condensed-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Roboto-Bold";
    src: url(../../public/fonts/Roboto_Condensed-Bold.ttf) format("truetype");
  }